APP_NAME="Yandex Reviews App"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=yandex_reviews
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

YANDEX_BUSINESS_API_BASE_URL=https://api.business.yandex.ru
YANDEX_BUSINESS_OAUTH_TOKEN=
YANDEX_BUSINESS_PER_PAGE=20
